@model IEnumerable<Obooking.Models.Book>

@{
    ViewData["Title"] = "catalogue";
}
@{Layout = "~/Views/Shared/_Layout.cshtml";}

<h1>catalogue</h1>

<form asp-action="Index" method="get">
    <div>
        <table>
            <tr>
                <td>
                    <input type="text"
                           style="margin:auto; position:relative; width:300px;
                           height:42px; border:4px solid #2980b9; padding:0px 10px;
                           border-radius:50px"
                           name="searchString" value="@ViewData["CurrentFilter"]" />

                </td>
                <td>
                    <input class="btn btn-success" style=" margin-left:15px; border:none; height:100%; width:100%; padding:0px 5px;
                                  border-radius:50px; font-size:18px; font-family:Britannic;
                                  color:#424242; font-weight:500;"
                           type="submit" value="Search" />
                </td>

                <td>
                    <a style="margin-left:350px">
                        @Html.ActionLink("Sort by popularity", "Showmain", new { sortOrder = @ViewData["PopularitySortParam"] }, htmlAttributes: new { @class = "btn btn-warning" })
                    </a>

                </td>

            </tr>
        </table>
    </div>
</form>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card-item">
                    <div class="imgBx">
                        <img src="~/images/@item.ImageBook" />
                    </div>
                    <div class="content">
                        <div class="details">
                            <h2>@item.BookName <br><span> @item.BooKDescription</span> </h2>
                            <div class="data">
                                <h3>Price <br><span>@item.BookPrice</span></h3>
                                <h3>Status <br><span>@item.BookStatus</span></h3>
                                <h3>Count <br><span>@item.BookCount</span></h3>
                            </div>
                            <div class="actionbtn">
                                <button onclick="location.href = '@Url.Action("Create", "Order", new { id = item.BookId })'">Buy</button>
                                <button onclick="location.href = '@Url.Action("ViewReview", "main", new { id = item.BookId })'">Show Reviews </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: linear-gradient(45deg,#fbda61,#ff5acd);
    }

    .col-md-3 {
        margin: 40px;
        margin-top: 120px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px;
        align-items: center;
    }

    .card-item {
        position: relative;
        width: 350px;
        height: 190px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 #252525;
        transition: 0.5s;
    }

        .card-item:hover {
            height: 450px;
        }

    .imgBx {
        position: absolute;
        left: 50%;
        top: -50%;
        transform: translateX(-50%);
        width: 150px;
        height: 150px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 #000000a1;
        overflow: hidden;
        transition: 0.5s;
    }

    .card-item:hover .imgBx {
        width: 250px;
        height: 250px;
    }

    .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-item .content {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
    }

        .card-item .content .details {
            padding: 30px;
            text-align: center;
            width: 100%;
            margin-top: 20px;
            transition: 0.5s;
            transform: translateY(150px);
        }

    .card-item:hover .content .details {
        transform: translateY(0px);
    }

    .card-item .content .details h2 {
        font-size: 1.6em;
        font-weight: 600;
        color: #555;
        line-height: 1.2em;
    }

        .card-item .content .details h2 span {
            font-size: 1.2em;
            font-weight: 500;
            opacity: 0.5;
        }

    .card-item .content .details .data {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }

        .card-item .content .details .data h3 {
            font-size: 1.2em;
            color: #555;
            line-height: 1.6em;
            font-weight: 600;
        }

            .card-item .content .details .data h3 span {
                font-size: 1em;
                font-weight: 400;
                opacity: 0.5;
            }

    .card-item .content .details .actionbtn {
        display: flex;
        justify-content: space-between;
    }

        .card-item .content .details .actionbtn button {
            padding: 10px 30px;
            border-radius: 5px;
            border: none;
            outline: none;
            font-size: 1em;
            font-weight: 500;
            background-color: #ff5f95;
            color: #fff;
            cursor: pointer;
        }

            .card-item .content .details .actionbtn button:nth-child(2) {
                border: 1px solid #999;
                color: #999;
                background: #fff;
            }
</style>